In [5]:
import pandas as pd

allTime = pd.read_csv('/content/AllTimeRankingByCountry.csv')
playerGoal = pd.read_csv('/content/PlayerGoalDetails.csv')
ranking = pd.DataFrame(allTime)
goles = pd.DataFrame(playerGoal)

el head() imprime las primeas 5 filas del df por defecto
o head(10) las 10 primeras filas

Query es un metodo más corto para buscar datos dentro del df

ejemplo.query('ejemplos > 8')
ejemplo.query('ejemplos > 8 and porcentaje < 9')

In [2]:
#Total de goles anotados por todos los clubes

busqueda=goles[(goles['Player'] == 'Cristiano Ronaldo')]
totalGoles = pd.DataFrame(busqueda)
suma = totalGoles['Goals'].sum()

print(f'Cristiano anotó {suma} goles en total por club')

Cristiano anotó 140 goles en total por club

In [32]:
golesContra = ranking['Goals Against'].sum()
index = ranking.index.stop

print(golesContra / index)

421.5

In [79]:
titulos = ranking['Titles'].idxmax()
num = ranking.loc[titulos, 'Titles']
pais = ranking.loc[titulos, 'Country']

print(f'{pais} : {num}')

Spain : 19

total de media de goles en contra por pais
3) Pais con la mayor cantidad de titulos
contar el numero difernetes

In [78]:
messi = totalGoles['Club']
print(messi)

0          Real Madrid CF
1                Juventus
2    Manchester United FC
Name: Club, dtype: object